<h2 class='center-align'>What is Keto?</h2>
<section class='row'>
    <p class='center-align col s7 offset-s2'>A keto or ketogenic diet is a very low-carb diet, which turns the body into a fat-burning machine. It has many proven benefits for weight loss, health and performance, as millions of people have experienced already.</p>
</section>
<h2 class='center-align'>Benefits of Keto</h2>
<ul class='center-align'>
    <li>Reduced Hunger</li>
    <li>Weight Loss</li>
    <li>Improved Body Composistion</li>
    <li>Increased Energy Levels</li>
    <li>Blood Pressure Reduction</li>
    <li>Improved Insulin Levels</li>
    <li>Healthy blood cholesterol and triglyceride levels</li>
    <li>Naturally Gluten Free</li>
    <li>Proven to treat many deceases such as Epilepsy, PCOS, Neurodegenerative, and Cancer</li>
</ul>
