<!DOCTYPE html>
<html>
  <head>
    <title>Keto Recipe App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="/assets/script.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
      <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="/" class="brand-logo">Keto Recipes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes/about-keto">About</a></li>
        <li><a href="/recipes">Recipe Index</a></li>
        <li><a href="/recipes/add-recipe">Add Recipe</a></li>
      </ul>
    </div>
  </nav>
    {{{body}}}
  </body>

</html>
