<div>
    <h1 class='center-align'>Recipes</h1>

    <div class='row'>
        <div class='food-image-container'>
        {{#each recipes as |recipe index|}}
            {{#if recipe.image}}
            <img src={{recipe.image}} alt='food-image' class='food-image'></img>
            {{else}}
            <img src='https://d30y9cdsu7xlg0.cloudfront.net/png/340719-200.png' alt='food-image' class='food-image'></img>
        </div>
            {{/if}}
    </div>
        <div class='food-name-container'>
            <h3><a href='/recipes/{{recipe.name}}' class='food-name center-align'>{{recipe.name}}</a></h3>
        </div>
        {{/each}}
    
</div>
