<section class='main-title'>
    <h1 class='center-align'>Keto Recipe App</h1>
</section>
<section class='home-main'>
    <a href='/recipes' class='enter'>
        <section class='welcome-image'></section>
    </a>
</section>
